table {
    color: var(--font-color-black);
    }
       
    .listContainerBody tr td p {
        margin: 2px;
        padding: 2px;
    }

    table.listContainer {
        font-size: 12px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 90%;
        position: absolute;
        top: 200px;;
        left: 50%;
        transform: translate(-50%, 0);
      
    }
    
    table.listContainer caption {
        margin: 10px;
        font-size: 24px;
    }
    
    tbody.listContainerBody tr th, tbody.listContainerBody tr td {
        border: 1px solid #dddddd;
        text-align: left;   
        padding: 3px;
    }
    
    .editRowBtn, .deleteRowBtn, .saveChangesBtn {
        width: 68px;
        display: inline-block;
        padding: 5px 7px;
        border-radius: 3px;
        margin: 0 2px 0 0;
        text-align: center;
    }

    .saveChangesBtn {
        background-color: #5ec268
    }

    .saveChangesBtn:hover {
        cursor: pointer;
        background-color: #43ac6a
    }


    .editRowBtn {
        background-color: #f6af4d
    }

    .editRowBtn:hover {
        cursor: pointer;
        background-color: #ec971f;
    }

    .cancelEditRowBtn {
        background-color: #798891;
    }

    .cancelEditRowBtn:hover {
        background-color: #49606b;
    }


    .deleteRowBtn {
        background-color: #f98978;
    }

    .deleteRowBtn:hover {
        cursor: pointer;
        background-color: #d9534f;
    }

    .editRowBtn > span, .deleteRowBtn > span, .saveChangesBtn > span, i {
        color: white;
    }

    tr:hover:not(:first-child) {
       background-color: var(--tr-hover-color);
    } 

    tbody.listContainerBody {
        background-color: azure; 
    }
    
    tbody.listContainerBody tr.table_head{
        background-color: #DCDCDC;
        font-weight: bold;
    }
    
