* {
    font-size: 12px;
    color: var(--font-color-black);
    }
       
    p {
        margin: 2px;
        padding: 2px;
    }

    table {
        font-size: 14px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 90%;
        margin: 40px auto;
    }
    
    caption {
        margin: 10px;
        font-size: 24px;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;   
        padding: 3px;
    }
    
    #editPersonBtn, #deletePersonBtn, #saveChangesBtn {
        width: 68px;
        display: inline-block;
        padding: 5px 7px;
        border-radius: 3px;
        margin: 0 2px 0 0;
        text-align: center;
    }

    .saveChangesBtn {
        background-color: #5ec268
    }

    .saveChangesBtn:hover {
        cursor: pointer;
        background-color: #43ac6a
    }


    .editPersonBtn {
        background-color: #f6af4d
    }

    .editPersonBtn:hover {
        cursor: pointer;
        background-color: #ec971f;
    }

    .cancelEditPersonBtn {
        background-color: #798891;
    }

    .cancelEditPersonBtn:hover {
        background-color: #49606b;
    }


    .deletePersonBtn {
        background-color: #f98978;
    }

    .deletePersonBtn:hover {
        cursor: pointer;
        background-color: #d9534f;
    }

    #editPersonBtn > span, #deletePersonBtn > span, #saveChangesBtn > span, i {
        color: white;
    }

    tr:hover:not(:first-child) {
       background-color: var(--tr-hover-color);
    } 

    tbody {
        background-color: azure; 
    }
    
    .table_head{
        background-color: #DCDCDC;
        font-weight: bold;
    }
    
